    <footer class="row" role="contentinfo">
      <div id="copyright" class="medium-12 large-6 six columns">
        DMPTOOL is a service of the University of California Curation Center of the California Digital Library Copyright &copy; <!--#config timefmt="%Y" --><!--#echo var="DATE_LOCAL" --> The Regents of the University of California
      </div>
      <div class="medium-12 large-6 six columns small-text-center medium-text-center">
        <nav>
          <a href="http://www.dmptool.org/privacy/">Privacy Policy</a>
          <a href="http://www.ucop.edu/electronic-accessibility/initiative/policy.html">Accessibility Policy</a>
          <a href="http://www.dmptool.org/terms_of_use/">Terms of Use</a>
          <a href="contact.html">Contact Us</a>
          <a href="about.html">About</a>
        </nav>
        <div id="socialicons">
          <a href="https://www.facebook.com/DMPTool"><img src="img/facebook.jpg" alt="Facebook"></a>
          <a href="https://twitter.com/TheDMPTool"><img src="img/twitter.jpg" alt="Twitter"></a>
          <a href="http://blog.dmptool.org/feed"><img src="img/rss.jpg" alt="RSS"></a>
        </div>
      </div>
    </footer>
    <script>
      // Google Analytics tracking code:

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30638119-11', 'auto');
      ga('send', 'pageview');

    </script>